name: Publish Package

on:
  push:
    branches:
      - main
      - actions-test
    tags:
      - v*
        
jobs:
  run_test:
    name: Run tests @ Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        
      - name: Run tests
        run: dotnet test --configuration Release ./ue.Core.Tests
  
  check_version:
    name: Check project version
    runs-on: ubuntu-latest
    outputs: 
      is_valid: ${{ steps.compare_versions.outputs.is_valid }}
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Get project version from .csproj
        shell: bash
        run: |
          # Get a project version from the *.csproj file
          VERSION=$(grep -oPm1 "(?<=<Version>)[^<]+" ./ue.Core/ue.Core.csproj)
          echo "Project version is $VERSION"
          
          # Save the result into the variable VERSION
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          
      - name: Get latest tag
        id: tag
        run: |
          # Get the latest release version according to the latest version tag from the repository
          git fetch --tags
          LATEST_TAG=$(git tag -l "v*" --sort=-v:refname | head -n 1)
          echo "Latest tag: $LATEST_TAG"
          
          # Save the result into the variable LATEST_TAG
          echo "LATEST_TAG=$LATEST_TAG" >> $GITHUB_ENV
          
      - name: Compare strings
        id: compare_versions
          run: |
            # Find the max version by comparing VERSION and LATEST_TAG and save the result into the variable GREATER_VERSION
            GREATER_VERSION=$(printf "%s\n%s" "$VERSION" "${LATEST_TAG#v}" | sort -V | tail -n 1)
            if [[ "$VERSION" == "$GREATER_VERSION" && "$VERSION" != "${LATEST_TAG#v}" ]]; then
              # If the version in the project configuration file is higher than the tag version, then the check is passed
              echo "The new release version is ${LATEST_TAG#v}"
              echo "is_valid=true" >> $GITHUB_OUTPUT
            else
              # Otherwise it is signaled about the error
              echo "The project version is not incremented"
              echo "is_valid=false" >> $GITHUB_OUTPUT
            fi
            
  tag_and_push:
    name: Create and push release tag
    runs-on: ubuntu-latest
    needs: [run_test, check_version]
    if: ${{ success() && needs.check_version.outputs.is_valid == 'true' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Git
        run: |
          git config --global user.name "${{ secrets.GIT_USER_NAME }}"
          git config --global user.email "${{ secrets.GIT_USER_EMAIL }}"

      - name: Get project version from .csproj
        shell: bash
        run: |
          VERSION=$(grep -oPm1 "(?<=<Version>)[^<]+" ./ue.Core/ue.Core.csproj)
          echo "Project version is $VERSION"
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Fetch the latest changes from the remote repository
        run: |
          git fetch --tags

      - name: Create and push tag
        run: |
          NEW_TAG="v$VERSION"
          git tag $NEW_TAG
          echo "Tag created: $NEW_TAG"
          git push origin $NEW_TAG

  create_nuget:
    name: Create NuGet
    runs-on: ubuntu-latest
    needs: tag_and_push
    if: success()
    env:
      NuGetDirectory: ${{ github.workspace }}/nuget
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v5

      - name: Pack
        shell: pwsh
        run: dotnet pack ./ue.Core --configuration Release --output ${{ env.NuGetDirectory }}

      - uses: actions/upload-artifact@v6
        with:
          name: nuget
          if-no-files-found: error
          retention-days: 7
          path: ${{ env.NuGetDirectory }}/*.nupkg

  deploy:
    name: Deploy NuGet
    runs-on: ubuntu-latest
    needs: create_nuget
    if: success()
    env:
      NuGetDirectory: ${{ github.workspace }}/nuget
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: nuget
          path: ${{ env.NuGetDirectory }}

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5

      - name: Publish NuGet package
        shell: pwsh
        run: |
          foreach ($file in (Get-ChildItem "${{ env.NuGetDirectory }}" -Recurse -Include *.nupkg)) {
              dotnet nuget push $file --api-key "${{ secrets.GITHUB_TOKEN }}" --source https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json --skip-duplicate
          }
        